.scroll-page .icon:before {
  margin-top:-13px;
  padding-right: 3px;
}
.scroll-page .row + .row {
  margin-top: 0;
  padding-top: 5px;
}
.scroll-page .row:nth-of-type(odd) {
  background: #fafafa;
}
.scroll-page .row:nth-of-type(even) {
  background: #f3f3f3;
}
.scroll-page .wind-icon {
  display: inline-block;
}
.scroll-page.center {
  text-align: center;
}

.scroll-page .has-header {
  position: relative;
}



.iconoDiario{
  font-size: 40px;
  display:inline-block;
  width: 40px;
}
.porcentajeIconoDiario{
  float:left;
  padding-left: 35px;
  top: -27.4px;
}

.scroll-view.scroll-y {
  //  overflow-y: hidden;
}
.ion-content{
  overflow-scroll:false;
}


.scroll-page .primary {
  margin: 0;
  font-size: 30px;
  font-weight: lighter;

}
.scroll-page .secondary {
  margin: 0;
  font-size: 100px;
  font-weight: lighter;
}

.loading-sign .spinner svg {
  width: 90px;
  height: 90px;
  stroke: #444;
  fill: #444;
  display:block;
  margin: auto;
}
.loading-wrapper{
  position: absolute;
  background: rgba(255, 255, 255, 0.9);

}

.loading-sign{

  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width:50%;
  height: 50%;
  margin-top: 35%;
}

.cg-busy-default-text {
  margin: 0 auto;
  font-size: 16px;
  color: #555;
  text-align: center;
  max-width: 400px;
  min-width: auto;
}

.ocultar{
  color:#FFF;
}




@media (min-height: 500px)  {
  .scroll-page .primary {
    margin: 0;
    font-size: 50px;
    font-weight: lighter;
    padding:0px;
  }
  .scroll-page .secondary {
    margin: 0;
    font-size: 200px;
    font-weight: lighter;
  }

  .has-header p{
    font-size: 1.3em;
  }

}

@media (min-height: 700px) {
  .scroll-page .primary {
    margin: 0;
    font-size: 90px;
    font-weight: lighter;
  }
  .scroll-page .secondary {
    margin: 0;
    font-size: 300px;
    font-weight: lighter;
  }

  .has-header p{
    font-size: 1.6em;
  }
}
