.scroll-page .icon:before {
  margin-top:-13px;
  padding-right: 3px;
}
.scroll-page .row + .row {
  margin-top: 0;
  padding: 0px;
}
.scroll-page .row:nth-of-type(odd) {
  background: #fafafa;
}
.scroll-page .row:nth-of-type(even) {
  background: #f3f3f3;
}
.scroll-page .wind-icon {
  display: inline-block;
}
.scroll-page.center {
  text-align: center;
}

.scroll-page .has-header {
  position: relative;
}



.iconoDiario{
  font-size: 40px;
  display:inline-block;
  width: 40px;
}
.porcentajeIconoDiario{
  float:left;
  padding-left: 35px;
  top: -27.4px;
}

.scroll-view.scroll-y {
  //  overflow-y: hidden;
}
.ion-content{
  overflow-scroll:false;
}


.scroll-page .primary {
  margin: 0;
  font-size: 4em;
  font-weight: lighter;

}
.scroll-page .secondary {
  margin: 0;
  font-size: 12em;
  font-weight: lighter;
}

.loading-sign .spinner svg {
  width: 90px;
  height: 90px;
  stroke: #444;
  fill: #444;
  display:block;
  margin: auto;
}
.loading-wrapper{
  position: absolute;
  background: rgba(255, 255, 255, 0.9);

}

.loading-sign{
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width:50%;
  height: 50%;
  margin-top: 35%;
}

.cg-busy-default-text {
  margin: 0 auto;
  font-size: 16px;
  color: #555;
  text-align: center;
  max-width: 400px;
  min-width: auto;
}
.ocultar{
  color:#FFF;
}

.sinScrollBar {
  overflow: hidden !important;
}

.margenIzq {
  margin-left:10px;
}

.action-sheet-group.action-sheet-options button{
  text-align: center !important;
}
.overflow-scroll{
  overflow-y: hidden;
}

// .platform-android .action-sheet-cancel {
//     display: block !important;
//
//
//
// }
//
// .action-sheet-group .button:first-child:last-child{
//     text-align: center;
//   }

//par alos apaisados y moviles pequeñicos
@media (max-height: 440px ) and (orientation: landscape) {
  .scroll-page .primary {
    font-size: 2em !important;
    margin: 0 auto !important;
  }
  .scroll-page .secondary {
    margin: 0;
    font-size: 16em;
    font-weight: lighter;
    position: fixed;
    left: 30px;
  }

  .weatherIcon {
    position: fixed;
    left: 4.2em;
    top: 35%;
    height: 2.4em;
    font-size: 2.0em;
  }
  .info{
    position: fixed;
    right: 0px;
    margin: auto;
    top: 35%;
    width: 331px;
    font-size: 19px;
    line-height: 1.3em;
  }
  .col{
    padding:0px !important;
  }
  .row{
    padding:0px;
  }
  .iconoDiario {
    font-size: 30px;
  }
  .porcentajeIconoDiario {
    padding-left: 26px;
    top: -20.4px;
  }
}

@media (min-height: 550px)  {
  .scroll-page .primary {
    margin: 0;
    font-size: 45px;
    font-weight: lighter;
    padding:0.8em 0.8em 0 0.8em;
  }
  .scroll-page .secondary {
    margin: 0;
    font-size: 190px;
    font-weight: lighter;
  }
  .porcentajeIconoDiario {
    float: left;
    padding-left: 27px;
    top: -28px;
  }
  .has-header p{
    font-size: 1.3em;
  }
  .row{
    padding:0px !important;
  }
  .padding{
    padding:0px !important;
    padding-left:10px !important;
    padding-right:10px !important;
  }

}

@media (min-width: 900px) and  (min-height: 700px)  {
  .view {
    max-width: 900px;
    margin: 0 auto;
  }
  .scroll-page.center{
    max-width: 900px;
  }
  .bar .title{
    max-width: 900px;
  }

}




//
//
//
// @media (min-height: 700px) {
//   .scroll-page .primary {
//     margin: 0;
//     font-size: 90px;
//     font-weight: lighter;
//   }
//   .scroll-page .secondary {
//     margin: 0;
//     font-size: 300px;
//     font-weight: lighter;
//   }
//
//   .has-header p{
//     font-size: 1.6em;
//   }
// }
