//colores aplicación
$color0:rgba(#896beb, 0.90);
$color1:rgba(#896beb, 0.70);
$color2:rgba(#896beb, 0.65);
$color3:rgba(#896beb, 0.45);
$color4:rgba(#896beb, 0.20);
$color5:rgba(#896beb, 0.15);
$color6:rgba(#896beb, 0.02);
$letrasColor1:#FFF;

*{
  font-family: 'Indie Flower', cursive !important;
  font-size: 16px;
  font-weight: 200;
}

.info{
  font-size: 1.2em;
}
.toggle.toggle-morado input:checked + .track {
  background-color: $color2;
}
.toggle-small input:checked + .track .handle{
  background-color: $color0;
}

.toggle input:checked + .track {
          border-color: $color0;
}
ion-header-bar{
  background-color: $color1 !important;
}
.ion-content{
  overflow-scroll:false;
}

//cambio de colores
.bar .title,.bar .buttons-left span, .bar .buttons-right span  {
  color:$letrasColor1 !important;
}

.item .item-content.activated{
  background-color: $color0 ;
  border-color:$color1 ;
  color: $letrasColor1;
}
.item-radio input:checked + .radio-content .item-content{
  background: $color5;
}
//fin cambio de colores

//ko (sin internet)
.ko{
  background-image: url("../img/ko.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  animation: bounceInLeft 2s;
}
//fin ko

//weather 1ªpantalla
.botonAlarma{
  height: 30px !important;
  min-height: 30px;
  padding-top: 5px;

}
.button.button-full {
  margin-top: 0px;
}
.botonAlarma .icon:before{
  font-size:25px;
  margin-top: -14px;
  padding-right: 5px;
}
.botonAlarma .ion-flame:before,.botonAlarma .ion-information {
  font-size:20px !important;
}

.iconoDiario{
  display:inline-block;
}
.botonAlarmado{
  background-color: $color3 !important;
  border:3px solid $color4 !important;
  box-shadow: 2px 4px 7px #666;
}
.botonInfo{
  background-color: $color4 !important;
  border:3px solid $color5 !important;
}
.botonAlarmado:hover,.botonInfo:hover {
  box-shadow: 1px 3px 6px #666;
}
.botonAlarmado:active,.botonInfo:active {
  box-shadow: 1px 1px 5px #666;
}



.boxAlarma{
  position: absolute;
  right: 0px;
  margin-right: 10px;
  margin-top: -60px;
  width: 100px;
  height: 60px;
  padding-top: 16px;
  padding-left: 4px;
  border-radius: 34px;
  background-color: $color4;
  border:3px solid $color5;
  box-shadow: 2px 4px 7px #666;

  .iconoDiario {
    font-size: 40px !important;
    display: inline-block;

  }
}
.boxAlarma:hover {
  box-shadow: 1px 3px 6px #666;
}
.boxAlarma:active {
  box-shadow: 1px 2px 16px #666;
}

.alertaActivada{
  padding-top: 10px;
  padding-left: 4px;
  background-color: $color2;
  border:3px solid $color3;
  .iconoDiario {

  }
}

//fin weather 1ªpantalla

// .scroll-page .icon:before {
//   margin-top:-13px;
//   padding-right: 3px;
// }

//weather 2ªpantalla

.fila{
  height: 47px;
}
.sumario{
  background-color: white;
  z-index: 1;
}
.row {
  padding:2px;
}
.col{
  padding:1px;
}
.row .scroll-page .icon:before {
  margin-top:0px !important;
  padding-right: 0px !important;
}


.col .icon:before{
  font-size: 60px
}
.col .ion-ios-cloud:before{
  font-size: 46px !important;
}
.scroll-page .row + .row {
  margin-top: 0;
  padding: 0px;
}
.scroll-page .row:nth-of-type(odd) {
  background: $color5;
}
.scroll-page .row:nth-of-type(even) {
  background: $color6;
}
.scroll-page .wind-icon {
  display: inline-block;
}
.scroll-page.center {
  text-align: center;
}
.scroll-view.scroll-y {
  //  overflow-y: hidden;
}
.scroll-page .has-header {
  position: relative;
}

.scroll-page .primary {
  margin: 0;
  font-size: 4em;
  font-weight: lighter;
}
.scroll-page .secondary {
  margin: 0;
  font-size: 12em;
  font-weight: lighter;
}

.porcentajeIconoDiario{
  float:left;
  padding-left: 35px;
  top: -40px;
}
//fin weather 2ªpantalla



//modal
.barraModal{
  font-size: 12px !important;
  line-height: 20px !important;
  margin: 0px !important;
}
.modal{
  max-width: 800px;
  margin: 0 auto;
}
.bar{
  border-top:0px !important;
  border-bottom:0px !important;
}
.row.titulo .col{
  font-weight: 900;
}
.itemArreglo{
  top:42px !important;
  padding: 0px;
}

.superLunaRow{
  background-color: $color4 !important;
}
.superLunaCol{
  font-weight: bold;
  color:$color0;
}
//fin modal


//loading con directiva cg-busy
.loading-sign .spinner svg {
  width: 90px;
  height: 90px;
  stroke: #444;
  fill: #444;
  display:block;
  margin: auto;
}
.loading-wrapper{
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
}

.loading-sign{
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  margin: auto;
  width:50%;
  height: 50%;
  margin-top: 35%;
}

.cg-busy-default-text {
  margin: 0 auto;
  font-size: 16px;
  color: #555;
  text-align: center;
  max-width: 400px;
  min-width: auto;
}
//fin loading con directiva cg-busy



// .centradoVertical{
//   padding-top:14px;
// }


.ocultar{
  color:#FFF;
}

.sinScrollBar {
  overflow: hidden !important;
}

.margenIzq {
  margin-left:10px;
}

.action-sheet-group.action-sheet-options button{
  text-align: center !important;
}
.overflow-scroll{
  overflow-y: hidden;
}



.menu{
  .overflow-scroll {
    overflow-y:scroll !important;
  }
}
.config.overflow-scroll {
  overflow-y:scroll !important;
}

.item-divider {
  background-color: $color3;
}
// .item{
//   padding:14px 0px 14px 0px !important;
// }





//3º pantalla
.datosClima .item{
  text-align: center;
  padding: 3px;
}

.rangoBrujula{
  position: absolute;
  bottom: 0px;
  width: 78%;
  height: 43px;
  margin-bottom: 30px;
  right: 0px;
  border:0px;
}
.toggleRangoBrujula{
  position: absolute;
  bottom: 0px;
  width: 20%;
  height: 43px;
  margin-bottom: 30px;
  left: 0px;
  border: 0px;
  padding: 0px;
}

.deshabilitado{
  opacity:0.4;
}





//efectos
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes bounceInLeft {
  from, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
//fin efectos
