<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.jolugama.ionicweather" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Ionic Weather</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="jolugama8@gmail.com" href="http://example.com.com/">
      Jose Luis Garcia
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="19"/>
  <preference name="BackupWebStorage" value="true"/>
  <preference name="orientation" value="portrait" />
  <preference name="LoadingDialog" value="My Title,My Message"/>
  <preference name="DefaultVolumeStream" value="media" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
