 <!-- <div style="width:{{tamanio*1+40}}px;height:{{tamanio*1+40}}px" ng-class="{'brujulaCentrada':{{centrado}}==true}" >  -->
<div style="width:{{tamanio*1+20}}px;height:{{tamanio*1+20}}px;max-width:{{tamanio*1+20}}px;max-height:{{tamanio*1+20}}px; padding-top:10px; margin: 0 auto;" >

    <svg name="brujula" ng-attr-height="{{tamanio}}"  ng-attr-width="{{tamanio}}" version="1.1" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
      <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></desc>
      <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
      <circle ng-attr-cx="{{tamanio/2}}" ng-attr-cy="{{tamanio/2}}" ng-attr-r="{{tamanio/2-10}}" fill="none" stroke="#000000" stroke-opacity="0.5" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.5;">
        <title style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></title>
      </circle>
      <path fill="#ffd700" stroke="none" d="M0,0" fill-opacity="0.2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 0.2;">
        <title style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In the sun moving sector, the region, the sun within a year.</title>
      </path>
      <path fill="none" stroke="#000000" d="M0,0" stroke-opacity="0.4" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.4;">
        <title style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></title>
      </path>
      <path fill="none" stroke="#000000" d="M0,0" stroke-opacity="0.4" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.4;">
        <title style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></title>
      </path>

      <path fill="none" stroke="#000000" d="M84,84L83.66628070405253,83.9523412692136" stroke-opacity="0.5" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.5; cursor: help;">
        <title style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">shadow line</title>
      </path>
      <path fill="none" stroke="#000000" d="M0,0" stroke-opacity="0.5" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.5; cursor: help;">
        <title style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">shadow line</title>
      </path>
      <path fill="none" stroke="#000000" d="M84,10L84,158" stroke-opacity="0.4" stroke-width="1" stroke-dasharray="4,3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.4; cursor: help;">
        <title style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">crosshairs</title>
      </path>
      <path fill="none" stroke="#000000" d="M10,84L158,84" stroke-opacity="0.4" stroke-width="1" stroke-dasharray="4,3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-opacity: 0.4; cursor: help;">
        <title style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">crosshairs</title>
      </path>

    </svg>

    <div class="centroBrujula"  style="position: absolute;top: 50%;left: 50%; margin-top: -11px;margin-left: -3px;">x
        <div class="lunaBrujula" name="lunaBrujula" style="position:absolute; left:{{getPosicion().xLuna}}px;top:{{getPosicion().yLuna}}px" ></div>
        <div class="solBrujula" name="solBrujula"   style="position:absolute; left:{{getPosicion().xSol}}px;top:{{getPosicion().ySol}}px" ></div>

        <div title="norte [0°]" style="top: -{{tamanio/2}}px;" class="brujulaNorte2">N</div>
        <div title="oeste [270°]" style="left: -{{tamanio/2}}px;" class="brujulaOeste2">O</div>
        <div title="este [90°]" style="right: -{{tamanio/2}}px;" class="brujulaEste2">E</div>
        <div title="norte [0°]" style="top: {{tamanio/2}}px;" class="brujulaSur2">S</div>
    </div>

</div>
