<div faseLunar={{fase}}>
  <svg name="svg"  ng-attr-height="{{tamanioLuna}}" ng-attr-width="{{tamanioLuna}}"
  version="1.1"  xmlns="http://www.w3.org/2000/svg"  style="overflow: hidden; position: relative;">
  <defs>
</defs>
  <circle name="circulo"
  ng-attr-cx="{{tamanioLuna/2}}" ng-attr-cy="{{tamanioLuna/2}}" ng-attr-r="{{tamanioLuna/2}}"
  fill="#ddd" stroke="#000000" stroke-width="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
</circle>
<path fill="rgb(254, 234, 152)" stroke="#ddd"   stroke-width="0" ng-attr-d="{{shape()}}" stroke-width="0" ransform="matrix(1,0,0,1,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
</path>
</svg>
</div>
