<ion-modal-view>
  <ion-header-bar  class="bar-dark" >
    <h1  class="title">Calendario Lunar</h1>
    <button class="button button-clear" ng-click="hideModal()">Close</button>
  </ion-header-bar>
  <div class="bar bar-subheader">
    <!-- dawn — sunrise — solar noon — sunset — dusk -->
    <h2 class="title barraModal">
      <div  class="item text-center">
        <div class="row titulo">
          <div class="col"></div>
          <div class="col">Salida</div>
          <div class="col">Puesta</div>
          <div class="col">Distancia</div>
          <div class="col">Fase</div>

        </div>
      </div>
    </h2>
  </div>
  <ion-content>
    <div class="list">
      <div  class="item text-center itemArreglo" collection-repeat="day in mimodal.datos">
        <div class="row centradoVertical" ng-class="{'superLunaRow' : day.superLuna===true }">
          <div class="col centradoVertical" ng-class="{'superLunaRow' : day.superLuna===true }">{{day.fecha | diaMes}}</div>
          <div class="col centradoVertical">{{day.rise | date:'H:mm' }}</div>
          <div class="col centradoVertical">{{day.set | date:'H:mm' }}</div>
          <div class="col centradoVertical" ng-class="{'superLunaCol': day.superLuna===true  }">{{day.distance |redondeoMiles |number}}km </div>
          <!-- <div class="col"><fase-lunar tamanio-luna="{{day.tamanio}}" grados="{{day.altergrad}}" title="{{day.phase}}"></fase-lunar></div> -->
          <div class="col"><fase-lunar  tamanio-luna="{{day.tamanio}}"  fecha="{{day.horaLuna}}"  lat="40" lng="-4" title="{{day.phase}}"></fase-lunar></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
