
<ion-view view-title="{{w.params.city.split(',')[w.params.city.split(',').length-2]}}, {{w.params.city.split(',')[w.params.city.split(',').length-1]}}">
  <ion-nav-buttons side="left">
    <button class="button button-clear" menu-toggle="left"><span class="icon ion-navicon"></span></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="w.showOptions()"><span class="icon ion-more"></span></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Tira para refrescar ..." on-refresh="w.refrescar()"></ion-refresher>
    <div  ng-class="{'ko':w.ko===true}">

    </div>
    <ion-slides  ng-hide="w.ko" options="optionsSlider" slider="dataSlider.slider">

      <!-- 1ª pantalla.  -->
      <ion-slide-page>
        <div class="scroll-page center" ng-style="{width: w.getWidth(), height: w.getHeight()}">
          <div class="bar bar-dark">
            <h1 class="title">{{w.params.city.split(',')[0]}}, {{w.params.city.split(',')[1]}}. {{w.params.city.split(',')[2]}}</h1>
          </div>
          <div class="has-header" ng-show="w.carga">
			 <button class="button button-full  botonAlarma" ng-class="{'botonAlarmado':w.AlarmaIcono[0]!='info', 'botonInfo':w.AlarmaIcono[0]=='info'}" ng-click="w.clickAlarma(w.resumenAlerta)">
              <div class="icon  iconoDiario" ng-repeat="alarma in w.AlarmaIcono" ng-class="alarma | icons"></div>
          	</button>
            <h2 class="primary">{{w.forecast.currently.temperature | temperatura}}</h2>


            <div icono-Tiempo tipo-icono="{{w.settings.icono}}" clima="{{w.forecast.currently.icon}}"> </div>



          <div class="info" ng-show="w.carga">
            <p  ng-class="w.forecast ? '' : 'ocultar'">{{w.forecast.currently.summary || '_'}}</p>
            <p  ng-class="w.forecast ? '' : 'ocultar'">Temp. Min/Max: {{w.forecast.daily.data[0].temperatureMin | temperatura}} / {{w.forecast.daily.data[0].temperatureMax | temperatura}} </p>
            <!-- <p  ng-class="w.forecast ? '' : 'ocultar'">Sensación térmica: {{w.forecast.currently.apparentTemperature | temperatura}}</p> -->
            <p  ng-class="w.forecast ? '' : 'ocultar'">{{w.forecast.currently.windSpeed |  descViento}}: {{w.forecast.currently.windSpeed |  viento}}  <span class="icon wind-icon ion-ios7-arrow-thin-up" ng-style="{transform: 'rotate(' + w.forecast.currently.windBearing + 'deg)'}"></span></p>
            <p ng-if="w.forecast.currently.visibility" >Visibilidad: {{w.forecast.currently.visibility | visibilidad}}</p>
            <p  ng-if="w.forecast.currently.humidity" >Humedad: {{w.forecast.currently.humidity | porcentaje}}</p>

          </div>
        </div>
	</div>
      </ion-slide-page>

      <!-- 2ª pantalla.  -->
      <ion-slide-page>
        <div class="scroll-page" ng-style="{width: w.getWidth(), height: w.getHeight()}">
          <div class="bar bar-dark">
            <h1 class="title">Predicción {{w.settings.days}} días</h1>
          </div>
          <div class="has-header">
            <p class="padding sumario">{{w.forecast.daily.summary}}</p>
            <div class="row fila" ng-repeat="day in w.forecast.daily.data | limitTo:w.settings.days">
              <!-- <div class="col-25">{{day.time + '000' | date:'EEEE'}}</div> -->
              <div class="col-40 margenIzq col-center"> {{day.time | diaSemana:w.forecast.timezone}}</div>
              <div class="col col-center"><span class="icon  iconoDiario" ng-class="day.icon | icons"></span><sup class="porcentajeIconoDiario">{{day.precipProbability | porcentajeRedondeo}}</sup></div>
              <div class="col col-center">{{day.temperatureMin | temperatura}}</div>
              <div class="col col-center">{{day.temperatureMax | temperatura}}</div>
            </div>
          </div>
        </div>
      </ion-slide-page>

      <!-- 3ª pantalla.  -->
      <ion-slide-page>
        <div class="scroll-page" ng-style="{width: w.getWidth(), height: w.getHeight()}">
          <div class="bar bar-dark">
            <h1 class="title">Posición actual - Sol y Luna</h1>
          </div>

          <div class="list has-header datosClima">
            <div class="item">


            <div class="icon ion-android-sunny" style="font-size:52px"></div>
            <div>Salida {{w.datosSol[0].sunrise | horasMinutos}} -
              Puesta {{w.datosSol[0].sunset | horasMinutos}}</div>
              <div>Altitud: {{w.datosSol[0].altitude | altitud}}</div>
              <div>Azimuth: {{w.datosSol[0].azimuth | azimuth}} </div>
              <div>Hora mejor fotografía: {{w.datosSol[0].goldenHour | horasMinutos}} - {{w.datosSol[0].goldenHourEnd | horasMinutos}} </div>
            </div>
            <div class="item">
              <fase-lunar  tamanio-luna="50"  fecha="{{w.fechaAhoraMismo}}"  lat="{{w.forecast.latitude}}" lng="{{w.forecast.longitude}}" title=""></fase-lunar>
              <div>Día: {{w.datosLuna[0].alterday.toFixed(2)}} - {{w.datosLuna[0].phase|trim|nombreFaseLunar}}</div>
              <div>Salida {{w.datosLuna[0].rise | horasMinutos}} - Puesta {{w.datosLuna[0].set | horasMinutos}} </div>

              <div>Altitud: {{w.datosLuna[0].altitude | altitud}}</div>
              <div>Azimuth: {{w.datosLuna[0].azimuth | azimuth}}</div>
              <div>Distancia: {{w.datosLuna[0].distance |number}}km</div>

            </div>
</div>

        </div>
      </ion-slide-page>

    </ion-slides>



  </ion-content>
</ion-view>
